<h1>hello Angular 16
</h1>
<hr>
<button (click)="btnDirectives = !btnDirectives" [ngStyle]="{color : btnDirectives ? 'blue' : 'red'}">See Directives</button> | 
<button (click)="btnComponentCommunication = !btnComponentCommunication" [ngStyle]="{color : btnComponentCommunication ? 'blue' : 'red'}">See Component Communication</button> | 
<hr>
<div *ngIf="btnDirectives">
   <app-directives1></app-directives1>
</div>

<hr>
<hr>
<div *ngIf="btnComponentCommunication">
    <app-parent1></app-parent1>
    <app-parent-b></app-parent-b>
</div>
<hr><hr>
<div>
    <app-parent-c></app-parent-c>
</div>
<div>
    
    <app-parent-d></app-parent-d>
</div>
hiiii
<hr><hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem eaque explicabo iure minus ab voluptate blanditiis inventore nobis dignissimos? Minus esse soluta dolor officia a consequuntur, voluptatibus sed eos dignissimos?</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi dolor expedita, pariatur quam totam tenetur qui aliquid autem. Quaerat in ab ullam asperiores culpa dolorum. Eaque quibusdam nisi a doloremque?</p>